<!DOCTYPE html>
<html lang="en">

{% block head %}
	<head>
		<meta charset="UTF-8">
		<title>Ducks</title>
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
{% endblock %}
<body>
{{ render(url('header')) }}
<main>
    <div class="container">
        <div class="banner"></div>
        <div class="row clearfix">
            <!-- боковое меню -->
            {{ render(url('side_menu')) }}
            <div class="column column9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</main>
</body>
{% block footer %}
	<footer>
		<div class="container">
			<p> © Andy Hatman</p>
		</div>
	</footer>
{% endblock %}
