<aside class="column column3">
        <h2>Каталог</h2>
        <ul>
            {% for name in names %}
                <li><a href="{{ path('show_category', {id: name.id}) }}">{{ name.title }}</a></li>
            {% endfor %}
        </ul>
</aside>