{% extends 'layout.twig' %}

{#main#}
{% block content %}
    {% for product in products %}
            <div class="item-block column column4">
                <a href='/{{ product.title }}' class="item"><img src="/img/{{ product.file_name }}" alt="уточка"></a>
                <a href="" class="btn-basket">В Корзину</a>
            </div>
    {% endfor %}
{% endblock %}
