<!DOCTYPE html>
<html lang="en">

{#head#}
{% block head %}
	<head>
		<meta charset="UTF-8">
		<title>Ducks</title>
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
{% endblock %}
<body>

{#header#}
{% block header %}
	<header>
		<div class="container clearfix">
			<!-- логотип -->
			<a href="/" class="logo">Ducks</a>
			<!-- меню -->
			<nav>
				<ul>
					<li><a href="/company">О Компании</a></li>
					<li><a href="/catalog">Каталог</a></li>
					<li><a href="/dostavka">Доставка и оплата</a></li>
					<li><a href="/contacts">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</header>
{% endblock %}

{% block main %}
{% endblock %}
</body>

{#footer#}
{% block footer %}
	<footer>
		<div class="container">
			<p> © Epic Skills</p>
		</div>
	</footer>
{% endblock %}
