{% extends 'layout.twig' %}

{#main#}
{% block main %}
    <main>
        <div class="container">
            <div class="banner"></div>
            <div class="row clearfix">
                    {#aside menu#}
                    {% block aside %}
                        <aside class="column column3">
                                    <h2>Каталог</h2>
                                    <ul>
                        {% for title in titles %}
                                        <li><a href="/catalog/{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                                    </ul>
                        </aside>
                    {% endblock %}
                <div class="column column9">
                    {#single product#}
                    {% block product %}
                        {% for item in ptitle %}
                        <div class="item-block column column4">
                          <a href='/{{ item }}' class="item">
                            <img src="/img/{{ imgname }}" alt="уточка">
                          </a>
                          <a href="" class="btn-basket">В Корзину</a>
                        </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
